version: "3.9"

services:
  bot:
    build: .
    container_name: ai_photoshoot_bot
    restart: always

    env_file:
      - .env

    environment:
      TZ: "Europe/Moscow"

    # По умолчанию бот стартует командой из Dockerfile:
    # CMD ["python", "-m", "src.main"]

  backend:
    build: .
    container_name: ai_photoshoot_backend
    restart: always

    env_file:
      - .env

    environment:
      TZ: "Europe/Moscow"

    ports:
      - "8000:8000"

    command: ["uvicorn", "src.webapp_api:app", "--host", "0.0.0.0", "--port", "8000"]
