version: "3.9"

services:
  bot:
    build: .
    container_name: ai_photoshoot_bot
    restart: always

    env_file:
      - .env

    environment:
      TZ: "Europe/Moscow"

    volumes:
      - ./bot_data:/app/bot_data
      - ./img:/app/img

  backend:
    build: .
    container_name: ai_photoshoot_backend
    restart: always

    env_file:
      - .env

    environment:
      TZ: "Europe/Moscow"

    volumes:
      - ./bot_data:/app/bot_data
      - ./img:/app/img

    ports:
      - "8001:8000"

    command: [
      "uvicorn",
      "src.api.main:app",
      "--host", "0.0.0.0",
      "--port", "8000"
    ]