version: "3.9"

services:
  bot:
    build: .
    container_name: ai_photoshoot_bot
    restart: always

    env_file:
      - .env

    environment:
      TZ: "Europe/Moscow"

    # ВАЖНО: сохраняем базу и папку с картинками за пределами контейнера
    volumes:
      - ./bot_data:/app/bot_data
      - ./img:/app/img
